@import "../../../../styles/colors.scss";

.card {
    width: 265px;
    margin: 15px;
    height: 250px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
}