.main-header {
    display: flex;
    flex-direction: column;
}


.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>button {
        margin-right: 12px;
    }
}