@import "../../../styles/colors.scss";

.sub-header {

    width: 100%;
    border-top: 1px solid $light-grey-2;
    border-bottom: 1px solid $light-grey-2;
    padding: 10px 0;

    &-content {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 1170px;
        display: flex;
    }
}