@import "../../../styles/colors.scss";

.panel-content {
    width: 435px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    transform: translateX(840px);
    transition: all 0.3s;
    box-shadow:  0px 0px 7px rgba(0, 0, 0, 0.4);
    &-active {
        transform: translateX(0);
    }
}