.provinces {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

    &-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        transition: all 0.3s;

        &.shrink {
            margin-right: 300px;
        }
    }

}