.popover {
    position: absolute;
    right: 12px;
    top: 35px;
    width: 280px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 11px 10px;
    text-align: center;

    span.register {
        display: inline-block;
        margin-top: 10px;
    }

    &-inputs {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &-socialmedia {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #ccc;
    }



}