@import "../../../../styles/colors.scss";


.popover {
    position: absolute;
    right: 12px;
    top: 35px;
    width: 280px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px;
    text-align: center;
    box-shadow: $box-shadow;
    z-index: 10000;
    span.register {
        display: inline-block;
        margin-top: 10px;


        span.sign-up {
            align-self: flex-start;
            display: inline-block;
            cursor: pointer;

            &:hover {
                color: darkblue;
            }
        }


    }

    span.forgot-password {
        display: inline-block;
        align-self: flex-start;
        cursor: pointer;

        &:hover {
            color: darkblue;
        }
    }

    &-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &-socialmedia {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #ccc;
    }



}