.dropdown-content {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.3px solid black;

    .content {
        padding: 5px;
    }

    .content:not(:last-child) {
        border-bottom: 1px solid #ccc;
        margin: 0 auto;
        width: 90%;
        cursor: pointer;

    }
}