.dropdown-content {
    position: absolute;
    top: 33px;
    left: 0;
    width: 150%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);

    .dropdown-list {
        padding: 0;
        margin: 0;
    }

}