.dropdown-content {
    position: absolute;
    top: 41px;
    left: 0;
    width: 140px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.3px solid black;

    .content:not(:last-child) {
        border-bottom: 1px solid black;
        margin: 0 auto;
        width: 100%;
        cursor: pointer;

    }
}