@import "../../../../styles/colors.scss";

li.dropdown-item {
    margin: 0;
    list-style: none;
    padding: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;

    &:hover {
        background: rgb(250, 250, 250);
        background: linear-gradient(#e52d27,#BD3F32);
        color: $white;
    }

}