@import "../../../../styles/colors.scss";

li {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 3px;

    &:hover {
        background: $light-grey;
    }
}